body
 margin: 0
 padding: 0
 background: #EEE
 color: #808080
 font-size: 14px
 font-family: Arial
 background: url('../images/bg.jpg') center top/cover no-repeat fixed;

.container

  &__inner
    overflow: hidden

  .box
    float: left
    position: relative
    width: 100%
    padding-top: 100%

    &__inner
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      transform-style: preserve-3d
      transition: transform 0.7s

      &_flip:hover
        transform: rotateY(180deg)

    @media only screen and (min-width : 250px)
      width: 50%
      padding-top: 50%

    @media only screen and (min-width : 500px)
      width: 33.3333%
      padding-top: 33.3333%

    @media only screen and (min-width : 750px)
      width: 25%
      padding-top: 25%

    @media only screen and (min-width : 1000px)
      width: 20%
      padding-top: 20%

    @media only screen and (min-width : 1266px)
      width: 16.666666%
      padding-top: 16.666666%

    @media only screen and (min-width : 1500px)
      width: 14.2857%
      padding-top: 14.2857%

    @media only screen and (min-width : 1700px)
      width: 12.5%
      padding-top: 12.5%

    @media only screen and (min-width : 1985px)
      width: 11.111111%
      padding-top: 11.111111%

    &__stand
      width: 100%

    &__image
      position: absolute
      left: 0
      top: 0
      display: block
      width: 100%
      height: 100%
      backface-visibility: hidden
      margin: 0

      &_back
        transform: rotateY(180deg)

  &__inner
   max-height: 100%
   overflow: hidden


.header
  position: fixed
  left: 0
  right: 0
  top: 0
  z-index: 1

  &__logo
    display: block

  &__logo-container
    background: none
    float: left
    width: 298px
    overflow: hidden
    position: relative

  &__info
    position: absolute
    left: 23px
    top: 33px

  &__filter
    background: #fff
    padding: 18px 5px
    text-align: right
    box-sizing: border-box
    float: left
    width: calc(100% - 298px)
    height: 68px
    overflow: hidden

  &__inner
    @media(max-width: 1280px)
      position: fixed
      right: 0
      top: 68px
      bottom: 0
      height: auto
      background: #fff
      width: 0;
      height: 100%
      min-height: 520px
      transition: width .2s cubic-bezier(.4,0,.2,1)
      z-index: 99
      text-align: center
      padding-top: 15px

      .menu-opened &
        width: 250px

.form-group
  padding: 0 10px
  display: inline-block
  width: 10%

  @media(max-width: 1280px) {
    width: 189px
    float: none
    margin-bottom: 15px
  }

  &_links
    text-align: left
    width: auto

    @media(max-width: 1280px) {
      width: 189px
      margin-bottom: 5px
    }

  &__link
    font-size: 1rem
    cursor: pointer
    line-height: 32px
    border-bottom: 1px #808080 dashed

    &:last-child
      margin-left: 20px

      @media(max-width: 1280px) {
        margin-left: 0
        text-transform: uppercase
      }

  &__select
    max-width: 100%
    width: 100%
    height: 2rem
    display: block
    padding: 0.2rem 0.5rem
    font-size: 1rem
    line-height: 1.25
    color: #55595c
    background-color: #fff
    background-image: none
    background-clip: padding-box
    border: 1px solid rgba(0, 0, 0, 0.15)
    border-radius: 0.25rem

.modal
  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background: #fff
  max-width: 300px
  border-radius: 12px
  font-size: 1rem
  line-height: 22px
  text-align: center

  &__inner
    position: relative
    padding: 10px 20px

  &__close
    position: absolute
    top: 10px
    right: 10px
    font-size: 22px
    cursor: pointer

  &__link
    white-space: nowrap

.toggle-switch
  position: absolute
  right: 21px
  top: 21px
  overflow: hidden
  padding: 0
  width: 33px
  height: 22px
  font-size: 0
  text-indent: -9999px
  border: none
  background: 0 0
  cursor: pointer
  display: none

  @media(max-width: 1280px) {
    display: block
  }

  &__inner
    position: relative
    width: 33px
    height: 22px
    display: block

  &__line
    display: block
    height: 2px
    background: #576377
    opacity: 1

    &::before,
    &::after
      content: ''
      position: absolute
      display: block
      left: 0
      width: 100%
      height: 2px
      background-color: #576377
      bottom: 0

    &::before
      bottom: auto
      top: 10px
